APP_PRIMARY.ENV="local"
APP_SERVER.PORT="8080"
APP_SERVER.READ_TIMEOUT="30"
APP_SERVER.WRITE_TIMEOUT="30"
APP_SERVER.IDLE_TIMEOUT="60"
APP_SERVER.CORS_ALLOWED_ORIGINS="http://localhost:3000"

APP_DATABASE.HOST="localhost"
APP_DATABASE.PORT="5432"
APP_DATABASE.USER="postgres"
APP_DATABASE.PASSWORD=""
APP_DATABASE.NAME="boilerplate"
APP_DATABASE.SSL_MODE="disable"
APP_DATABASE.MAX_OPEN_CONNS="25"
APP_DATABASE.MAX_IDLE_CONNS="25"
APP_DATABASE.CONN_MAX_LIFETIME="300"
APP_DATABASE.CONN_MAX_IDLE_TIME="300"

APP_PAGINATION.PAGINATOR_LIMIT_DEFAULT=10